# Python cache and temp files
__pycache__/
**/.pytest_cache
*.tmp
*.temp

# Dist/Build artifacts
dist/**
build/**
*.egg
*.egg-info
*.whl
.Python
*.c
*.exe
*.pyc
*.spec

# Docs
Roadmap.md
solar_trig_math/**
*profile.png
*.docx

# Other
**example_model**
parking_lot.py
dependencies/**
tests/**
*.log
*.uml
*.zip
.idea/**
