dist/**
build/**
Roadmap.md
**example_model**
parking_lot.py
Inputs_xlsx.py
dependencies/**
solar_trig_math/**
tests/**
*.uml
*profile.png
*.docx
*.log
*.exe
*.pyc
*.spec
**/*.so
.Python
**/.pytest_cache
.python-version
*.zip
*.egg
*.egg-info
*.ico
.idea/**
